@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-blue-500;
  }
  h1, h2, h3, p {
    text-wrap: pretty;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
